<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2 class="user-box">Show in detail..</h2>
    <div class="user-box">

     <img src=<%=post.image%> alt="image" style="height: 150px; width: 150px; border-radius: 50%; object-fit: cover;">
        
       
        <h3>Username: <%=post.username%></h3>
       
        
 
        <h4>Comments :<%=post.comment%></h4>
       
   
        <h4>Likes :<%=post.likes%> </h4>
       
    </div>
    <%-include("includes/footer.ejs")%>
</body>
</html>